<!doctype html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


</head>
  <body ng-app="ngWebglDemo">
    <div class="container" ng-controller="AppCtrl">
    <div>
        
        <label for="scale">Scale Object</label>
        <input type="range" name="scale" min="0.1" max="5" step="0.1" ng-model="scale" >        
        <label for="materialsList">Material Type</label>
          <select id="materialsList" ng-model="materialType">
            <option value="lambert">Lambert</option>
            <option value="phong">Phong</option>
            <option value="wireframe">Wire Frame</option>
          </select>

    </div><!-- END CONTAINER -->

<div id = "webgl">
        
        <a 
          id="webglContainer1" 
          ng-webgl
          width="canvasWidth"
          height="canvasHeight"
          scale="scale"
          material-type="materialType"
        ></a>
        <a 
          id="webglContainer2" 
          ng-webgl
          width="canvasWidth"
          height="canvasHeight"
          scale="scale"
          material-type="materialType"
        ></a>
        <a 
          id="webglContainer3" 
          ng-webgl
          width="canvasWidth"
          height="canvasHeight"
          scale="scale"
          material-type="materialType"
        ></a>
        <a 
          id="webglContainer4" 
          ng-webgl
          width="canvasWidth"
          height="canvasHeight"
          scale="scale"
          material-type="materialType"
        ></a>
         <a 
          id="webglContainer5" 
          ng-webgl
          width="canvasWidth"
          height="canvasHeight"
          scale="scale"
          material-type="materialType"
        ></a>
</div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/three.js"></script>

    <!-- scripts/scripts.js -->
      <script src="app.js"></script>
      <script src="ngWebgl.js"></script>
    <!-- endbuild -->

</body>
</html>
